.navs{
    padding: .8rem 0;
    position: fixed;
    width: 100%;
    z-index: 25;

    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__image{
            width: 55px;
            height: 55px;
        }
        &__actions{
            display: flex;
            align-items: center;

            &-icon{
                margin-left: .5rem;
                position: relative;
                cursor: pointer;

                &__num{
                    position: absolute;
                    background-color: #252525;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    color: #fff;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: -15%;
                    top: 45%;
                }
            }
        }
    }
}