.products{
    padding: 6rem 0;

    &-container{

        &__wraps{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}